@model IEnumerable<ClothesWeb.Models.Product>

@{
    ViewData["Title"] = "Каталог";
}

<form asp-controller="Home" asp-action="Create" method="get">
    <button type="submit">Добавить новый товар</button>
</form>

<div class="container mt-4">
    <h1 class="text-center mb-4">Каталог</h1>


    <form asp-controller="Home" asp-action="Catalog" method="get">
        <input type="text" name="searchString" class="form-control w-50 me-2" placeholder="Введите название товара" value="@Context.Request.Query["searchString"]" />
        <button type="submit">Поиск</button>
    </form>


    <div class="row">
        @if (!Model.Any())
        {
            <p>Товары не найдены.</p>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <h5 class="card-title">@item.Name</h5>
                            <p>Цена: @item.Price.ToString("C")</p>
                            <p><small>Цвет: @item.Color</small></p>
                            <p><small>Артикул: @item.ArticleNumber.ToString()</small></p>
                            <p>
                                <small>
                                    Размеры:
                                    @if (item.ProductSizes != null && item.ProductSizes.Any())
                                    {
                                        @(string.Join(", ", item.ProductSizes.Select(ps =>
                                            $"{ps.Size.Name} ({ps.Quantity})"
                                            )))
                                    }
                                    else
                                    {
                                        <span>нет в наличии</span>
                                    }
                                </small>
                            </p>
                            <a asp-controller="Home" asp-action="EditCard" asp-route-id="@item.Id"
                               asp-route-searchString="@Context.Request.Query["searchString"]">Редактировать</a>

                            <a asp-controller="Home" asp-action="Supply" asp-route-id="@item.Id" class="btn btn-warning">
                                Поставка
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


<style>
    .card {
        border-radius: 16px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        }

    h1 {
        font-weight: 600;
        letter-spacing: 1px;
    }
</style>
