@{
    ViewBag.Title = "Управление ролями пользователей";
    var usersRoles = ViewBag.UsersRoles;
    var roles = ViewBag.AllRoles; 
}

<h2>Управление группами ролей</h2>

<h3>Создать пользователя</h3>

<form asp-action="CreateUser" method="post" class="mb-3">
    @Html.AntiForgeryToken()

    <input type="text" name="UserName" placeholder="Имя пользователя (латинские буквы без пробелов)" required />
    <input type="email" name="Email" placeholder="Email" required />
    <input type="password" name="Password" placeholder="Пароль" required />

    <button type="submit">Создать</button>
</form>

@if (TempData["Error"] != null)
{
    <div style="color:red">@TempData["Error"]</div>
}

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Роли</th>
            <th>Добавить в роль</th>
            <th>Удалить из роли</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in usersRoles)
        {
            <tr>
                <td>@userRole.User.UserName</td>
                <td>
                    @foreach (var roleName in userRole.RoleNames)
                    {
                        <span>@roleName </span>
                    }
                </td>
                <td>
                    <form asp-action="AddUserToRole" method="post">
                        <input type="hidden" name="userId" value="@userRole.User.Id" />
                        <select name="roleName">
                            @foreach (var role in roles)
                            {
                                <option value="@role.Name">@role.Name</option>
                            }
                        </select>
                        <button type="submit" >Добавить</button>
                    </form>
                </td>
                <td>
                    <form asp-action="RemoveUserFromRole" method="post">
                        <input type="hidden" name="userId" value="@userRole.User.Id" />
                        <select name="roleName">
                            @foreach (var role in roles)
                            {
                                <option value="@role.Name">@role.Name</option>
                            }
                        </select>
                        <button type="submit" >Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

